@model Asp2025_Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<form asp-action="Edit" method="post" class="form-group">
    <input type="hidden" asp-for="Id" />
    <div>
        <input class="form-control" type="text" asp-for="Name"/>
    </div>
    <div>
        <input class="form-control" type="text" asp-for="DisplayOrder"/>
    </div>
    <div>
        <input class="btn btn-info" type="submit" value="Update"/>
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>