@model List<Company>

<a asp-action="Add" asp-controller="Company">Add</a>

@foreach (var comp in Model)
{
    <div>
    <h2>Id: @comp.Id</h2>
    <h2>Name: @comp.Name</h2>
    <form method="get">
        <input type="number" value="@comp.Id" name="id" hidden />
        <input type="submit" value="Delete" asp-action="Delete" />
        <input type="submit" value="Edit" asp-action="Edit" />
        <input type="submit" value="Add Product" asp-action="Add" asp-controller="Product" />
    </form>
</div>
}